@import 'variables';
.file-path {
    color: #333;
}

.full-width {
    width: 100%;
}

.cached-files .load-from .row {
    margin-top: 4px;
    margin-bottom: 4px;
}

.cached-files textarea {
    height: 100px;
}

div.dimension-slider div.slider.slider-horizontal {
    width: 100%;
}

.axis {
    display: flex;
    align-items: center;
}

.dimensions .dimension {
    padding-top: 15px;
    padding-bottom: 20px;
    flex: 1;
    display: inline-flex;
    align-items: center;

    .axis-name {
        width:14%;
        word-break: break-all; /* in case break-word isnt supported */
        word-break: break-word;
    }

    .sort {
        cursor: ns-resize;
        color: #bbb;
        margin-left: 2%;
        margin-right: 2%;
        padding-right: 0;
        font-size: 15px;
    }

    .right-content {
        flex: 1;
        padding-left: 0;

        &::after {
            content: '';
            display: block;
            border-bottom: 1px solid #ddd;
            position: relative;
            top: 10px;
        }
    }
    &:last-child {
        .right-content {
            border: none;
        }
    }
}

.cached-files {
    .history, .bookmarks{
        min-height: 75px;
        max-height: 120px;
        overflow-x: hidden;
        overflow-y: auto;
        .file {
            display: block;
            cursor: pointer;
            &:hover {
                background-color: $lighter;
                color: black;
            }
        }
        .bookmark {
            display: flex;
            justify-content: space-between;
            .file {
                display: inline-block;
                flex-grow: 1;
            }
            .delete-bookmark-button {
                display: none;
            }
            &:hover .delete-bookmark-button {
                display: inline-block;
                height: 20px;
                margin-left: 1px;
            }
            &:hover .file {
                background-color: $lighter;
                color: black;
            }
        }
    }
}

