#spreadsheet-div{
    display:flex;
    flex-direction: column;
    height:70vh;
}

canvas{
    width:100%;
    height:100%;
}

.black{
    color:black;
}

.toolbar{
    height:50px;
}

.toolbar button img{
    height:25px;
    width:25px;
}

.undo-redo-button:disabled{
    color: #ACADAD;
}

.row{
    flex:1;
    display: flex;
}

.col{
    flex:1;
}

.cell-image{
    width:100%;
    height:100%;
}

.cell{
    border: 1px solid black;
    background-color:white;
    width:100%;
    height:100%;
}

.cell-image{
    height:100%;
    width:100%;
}

#spin-row, #spin-column{
    width:40px;
}
