i.glyphicon.glyphicon-plus-sign{
    color: rgba(40, 167, 69, .8);
    &:hover{
        color: rgba(66, 193, 95, .8);
    }
}

i.glyphicon.glyphicon-edit{
    color: rgba(217, 120, 36, .8);
    &:hover{
        color: rgba(243, 146, 62, .8);
    }
}

i.glyphicon.glyphicon-remove-sign{
    color: rgba(196, 28, 31, .8);
    &:hover{
        color: rgba(222, 53, 56, .8);
    }
}


