$numeric-button-lighter-color: rgb(233, 246, 255);
$numeric-button-darker-color: rgb(135, 183, 214);
$numeric-button-hover-color: rgb(84, 155, 203);

$save-clear-button-lighter-color: rgb(255, 223, 223);
$save-clear-button-darker-color: rgb(255, 132, 132);
$save-clear-button-hover-color: rgb(203, 88, 88);

$math-button-lighter-color: rgb(255, 245, 223);
$math-button-darker-color: rgb(255, 245, 132);
$math-button-hover-color: rgb(222, 210, 83);

.main-container {
    display: grid;
    grid-template-columns: 2fr 7fr;
    grid-template-rows: 80px 320px;
    grid-column-gap: 15px;
}
.variable-list {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    height: 100%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    .scroll-area {
        border: 1px #d3d3d373 solid;
    }
}
// .operation-list {
//     grid-column: 1 / 2;
//     grid-row: 2 / 3;
// }
.input-area {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    border-top: lightgray 1px solid;
    border-left: lightgray 1px solid;
    border-right: lightgray 1px solid;
    border-bottom: lightgray 1px solid;
    &.drop-hint {
        border-color: cyan;
    }
    &.drop-success {
        border-color: lime;
    }
    display: grid;
    grid-template-columns: 10fr minmax(15px, 1fr) 14fr;
    grid-template-rows: 1fr 1fr;
    input {
        font-size: 18px;
    }
    #new-variable-name {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    #new-variable-name-help-text  {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    #assignment  {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        line-height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #calculation {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        background-color: rgb(238, 239, 238);
    }
    #calculation-help-text {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }
}
.calculator-buttons {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-bottom: lightgray 1px solid;
    border-left: lightgray 1px solid;
    border-right: lightgray 1px solid;
}

button.calc-button {
    width: 100%;
    font-size: 15px;
    font-weight: 700;
    &.numeric {
        background: $numeric-button-lighter-color;
        background-image: -webkit-linear-gradient(top, $numeric-button-lighter-color, $numeric-button-darker-color);
        background-image: -moz-linear-gradient(top, $numeric-button-lighter-color, $numeric-button-darker-color);
        background-image: -ms-linear-gradient(top, $numeric-button-lighter-color, $numeric-button-darker-color);
        background-image: -o-linear-gradient(top, $numeric-button-lighter-color, $numeric-button-darker-color);
        background-image: linear-gradient(to bottom, $numeric-button-lighter-color, $numeric-button-darker-color);
        &:hover {
            background: $numeric-button-lighter-color;
            background-image: -webkit-linear-gradient(top, $numeric-button-lighter-color, $numeric-button-hover-color);
            background-image: -moz-linear-gradient(top, $numeric-button-lighter-color, $numeric-button-hover-color);
            background-image: -ms-linear-gradient(top, $numeric-button-lighter-color, $numeric-button-hover-color);
            background-image: -o-linear-gradient(top, $numeric-button-lighter-color, $numeric-button-hover-color);
            background-image: linear-gradient(to bottom, $numeric-button-lighter-color, $numeric-button-hover-color);
        }
    }
    &.save-clear {
        background: $save-clear-button-lighter-color;
        background-image: -webkit-linear-gradient(top, $save-clear-button-lighter-color, $save-clear-button-darker-color);
        background-image: -moz-linear-gradient(top, $save-clear-button-lighter-color, $save-clear-button-darker-color);
        background-image: -ms-linear-gradient(top, $save-clear-button-lighter-color, $save-clear-button-darker-color);
        background-image: -o-linear-gradient(top, $save-clear-button-lighter-color, $save-clear-button-darker-color);
        background-image: linear-gradient(to bottom, $save-clear-button-lighter-color, $save-clear-button-darker-color);
        &:hover {
            background: $save-clear-button-lighter-color;
            background-image: -webkit-linear-gradient(top, $save-clear-button-lighter-color, $save-clear-button-hover-color);
            background-image: -moz-linear-gradient(top, $save-clear-button-lighter-color, $save-clear-button-hover-color);
            background-image: -ms-linear-gradient(top, $save-clear-button-lighter-color, $save-clear-button-hover-color);
            background-image: -o-linear-gradient(top, $save-clear-button-lighter-color, $save-clear-button-hover-color);
            background-image: linear-gradient(to bottom, $save-clear-button-lighter-color, $save-clear-button-hover-color);
        }
    }
    &.math {
        background: $math-button-lighter-color;
        background-image: -webkit-linear-gradient(top, $math-button-lighter-color, $math-button-darker-color);
        background-image: -moz-linear-gradient(top, $math-button-lighter-color, $math-button-darker-color);
        background-image: -ms-linear-gradient(top, $math-button-lighter-color, $math-button-darker-color);
        background-image: -o-linear-gradient(top, $math-button-lighter-color, $math-button-darker-color);
        background-image: linear-gradient(to bottom, $math-button-lighter-color, $math-button-darker-color);
        &:hover {
            background: $math-button-lighter-color;
            background-image: -webkit-linear-gradient(top, $math-button-lighter-color, $math-button-hover-color);
            background-image: -moz-linear-gradient(top, $math-button-lighter-color, $math-button-hover-color);
            background-image: -ms-linear-gradient(top, $math-button-lighter-color, $math-button-hover-color);
            background-image: -o-linear-gradient(top, $math-button-lighter-color, $math-button-hover-color);
            background-image: linear-gradient(to bottom, $math-button-lighter-color, $math-button-hover-color);
        }
    }
}


@media(min-width: 992px) {
    .input-area {
        padding: 9px 15px;
    }
}
