.spinner {
    width: 145px;

    input[type="number"] {
        text-align: center;
        -moz-appearance:textfield;
    }

    input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    .input-group-btn button.btn {
        padding: 6px 7px;
    }
}