@import 'variables';

.navigation-bar{
    display: flex;
    cursor: default;
    margin-bottom: 8px;
}

.file-list {
    height: 40vh;
    overflow-y: scroll;
    list-style-type: none;
    padding-left: 0;
    cursor: default;

    .glyphicon-folder-open{
        color: #e3783a;
    }

    li {
        width: fit-content;
        white-space: nowrap;
    }

    li a:hover{
        cursor: pointer;
    }
}

.file-list .file-icon{
    font-size: 0.8em;
    margin-right: 8px;
}

.navigation-bar .path{
    word-wrap: break-word;
}

.navigation-bar .path-segment:hover, .file-list li:hover {
    text-decoration: underline;
}

.navigation-bar .button.back:hover, .file-list li.selected {
    background-color: $lighter;
    color: black;
}

.file-list li.selected a{
    color: inherit;
}

.navigation-bar .sort{
    text-align: right;
}

.navigation-bar .sort .sort-item{
    margin: 0 5px;
}

.path-back-button{
    flex-shrink: 0;
    max-height: 36px;
}

div.breadcrumbs{
    width: 100%;
    padding: 8px 15px;
    background-color: #f5f5f5;
    border-radius: 4px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    height: auto;
    max-height: 51px;
}

.breadcrumb-separator{
    color: #ccc;
    padding-left: 4px;
    padding-right:4px;
    min-width: 0;
    display: inline-block;
}

div.breadcrumbs span {
    display: inline-block;
}

div.breadcrumbs span a {
    white-space: nowrap;
}

