.top-bar{
    display: flex;
    height: 110px;
    border: #e7e7e7 1px solid;
    .navbar.navbar-default{
        width: 150px;
    }
}

.plot-inspector-container{
    width: 100%;
    overflow-y: scroll;
}

.plot-inspector-wrapper{
    width: 100%;
    display: inline-flex;
}